<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net461" />
  <package id="Memcached.ClientLibrary" version="1.0" targetFramework="net461" />
  <package id="NPOI" version="2.3.0" targetFramework="net461" />
  <package id="ServiceStack" version="5.0.2" targetFramework="net461" />
  <package id="ServiceStack.Client" version="5.0.2" targetFramework="net461" />
  <package id="ServiceStack.Common" version="5.0.2" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="5.0.2" targetFramework="net461" />
  <package id="ServiceStack.Text" version="5.0.2" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>